.logo {
  max-width: 200px; /* Limita a largura máxima */
  max-height: 200px; /* Limita a altura máxima */
  width: auto;
  height: auto;
}

/* Estilos para o header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

/* Estilos para a logo */
header .logo img {
  height: 50px;
  object-fit: contain;
}

/* Estilos para o menu de navegação */
header nav {
  display: flex;
  gap: 20px;
}

/* Estilos para os links de navegação */
header nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo quando o link é hoverizado */
header nav a:hover {
  background-color: #4CAF50;
  color: white;
}

/* Estilo quando o link está ativo */
header nav a.active-link {
  background-color: #45a049;  /* Cor de fundo mais forte */
  color: white;                /* Cor do texto do link ativo */
  font-weight: bold;           /* Deixar o texto mais destacado */
}

/* Estilo quando o link é focado */
header nav a:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.6);
}
