<header>
  <div class="logo">
    <img ngSrc="../../../../public/assets/mapa_da_vida_branco.png" alt="Logo Mapa da Vida" class="logo">
  </div>
  <nav>
    <a routerLink="/home" routerLinkActive="active-link">Página inicial</a>
    <a routerLink="/cadastrar-locais" routerLinkActive="active-link">Cadastro de locais</a>
    <a routerLink="/cadastrar-usuarios" routerLinkActive="active-link">Cadastro de usuários</a>
    <a routerLink="/consultar-usuarios" routerLinkActive="active-link">Consultar Usuários</a>
    <a (click)="logout()">Sair</a>
  </nav>
</header>
