.home-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.map-container {
  flex: 1.5; /* Aumenta o tamanho do mapa */
  min-width: 400px;
}

.content-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.toggle-button {
  margin-bottom: 15px;
}
